<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
  <h1 style="text-align: center">Login</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input
      matInput
      type="email"
      placeholder="Enter Username"
      formControlName="username"
    />
    <!-- @if(email?.touched && email?.hasError('required') ) {
        <mat-error>Email is <strong>required</strong></mat-error>
        } @if(email?.touched && email?.hasError('email') ){
        <mat-error> <strong>Invalid </strong> mail-id</mat-error>
        } -->
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Enter Password"
      formControlName="password"
    />
    <!-- @if(password?.touched && password?.hasError('required') ){
      <mat-error>Password URL is <strong>required</strong></mat-error>
      } @if(password?.touched && password?.hasError('minlength') ){
      <mat-error> <strong>Invalid </strong> password</mat-error>
      } -->
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" routerLink="/home">
    Login
  </button>
  <!-- <p>New User? <a href="" routerLink>Register Here</a></p> -->
  <button mat-raised-button type="submit" color="primary" routerLink="/home">
    SignUp
  </button>
</form>
