.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-details {
  text-align: left;
  width: 100%;
  margin-top: 10px;
}

.title-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  font-size: 1.5rem;
  margin: 0;
}

.info-button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.product-author {
  font-size: 1rem;
  color: #d9534f; /* Customize color to match your design */
  margin: 5px 0;
}

.product-price {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.cart-button {
  background-color: #c45d59;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.cart-button:hover {
  background-color: black;
}
