<div class="product-container">
  <img
    src="{{ product.imageURL }}"
    alt="Indriyan Book Cover"
    class="product-image"
  />
  <div class="product-details">
    <div class="title-info">
      <h2 class="product-title">{{ product.title }}</h2>
      <button
        mat-icon-button
        routerLink="/product/{{ product.bookId }}"
        class="info-button"
      >
        <mat-icon>info</mat-icon>
      </button>
    </div>
    <p class="product-author">by {{ product.author }}</p>
    <p class="product-price">{{ product.price | currency }}</p>
    <button class="cart-button" (click)="addToCart()">+ Cart</button>
  </div>
</div>
